@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-size: normal; }

main .home .center .pr-button, main .pricing .pricing-table-block .pricing-table-item .pr-button, main .select-us h3 .pr-button, main .subscribe form .pr-button, main .contact .contact-form .pr-button {
  font-family: "Poppins";
  font-size: 16px;
  color: #fff;
  border: 3px solid #fc5f45;
  background-color: #fc5f45;
  border-radius: 25px;
  width: 150px;
  height: 44px;
  outline: none; }
  main .home .center .pr-button:hover, main .pricing .pricing-table-block .pricing-table-item .pr-button:hover, main .select-us h3 .pr-button:hover, main .subscribe form .pr-button:hover, main .contact .contact-form .pr-button:hover {
    background-color: #f88f7c;
    cursor: pointer; }

a {
  text-decoration: none;
  color: #000; }

h2 {
  font-size: 4rem; }

p {
  font-size: 1.5rem; }

.line-box {
  display: flex;
  background-color: #fff;
  width: inherit;
  margin: 0; }
  .line-box .line {
    width: 25%; }
    .line-box .line:nth-child(1) {
      border-bottom: 3px solid #fc5f45; }
    .line-box .line:nth-child(2) {
      border-bottom: 3px solid #38c695; }
    .line-box .line:nth-child(3) {
      border-bottom: 3px solid #b27cf5; }
    .line-box .line:nth-child(4) {
      border-bottom: 3px solid #feb960; }

body {
  margin: 0 auto;
  font-family: "Poppins"; }

header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px; }
  header .header-block {
    max-width: 1920px;
    height: 75px;
    margin: 0 auto;
    padding: 0 5% 0 5%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    header .header-block h1 {
      margin-left: 5%; }
    header .header-block nav {
      width: 70%; }
      header .header-block nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
        margin: 0; }
        header .header-block nav ul li {
          padding-left: 10px;
          height: 25px; }
          header .header-block nav ul li a {
            text-decoration: none;
            color: #000; }

main {
  max-width: 1920px;
  margin-top: 75px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 2fr;
  grid-template-areas: 'home home home home home home' 'about-us-img about-us-img about-us-img about-us-comment about-us-comment about-us-comment' 'our-focus our-focus our-focus our-focus our-focus our-focus' 'our-awesomes our-awesomes our-awesomes our-awesomes our-awesomes our-awesomes' 'portfolio portfolio portfolio portfolio portfolio portfolio' 'our-team our-team our-team our-team our-team our-team' 'stats stats stats stats stats stats' 'work-steps work-steps work-steps work-steps work-steps work-steps' 'pricing pricing pricing pricing pricing pricing' 'testimonials testimonials testimonials testimonials testimonials testimonials' 'select-us select-us select-us select-us select-us select-us' 'our-blog our-blog our-blog our-blog our-blog our-blog' 'subscribe subscribe subscribe subscribe subscribe subscribe' 'contact contact contact contact contact contact'; }
  main .home {
    grid-area: home;
    background-color: #444444;
    background: url("../img/home/home-bc.jpg");
    padding: 100px 15%;
    max-height: 600px; }
    main .home h2 {
      width: 80%;
      margin: 100px auto 50px;
      font-size: 4rem;
      color: #fff;
      text-align: center; }
    main .home .center {
      width: 100%;
      text-align: center; }
    main .home .about-icons {
      margin-top: 100px;
      display: flex;
      justify-content: center; }
      main .home .about-icons .icons {
        text-align: center;
        width: 250px;
        height: 150px;
        text-transform: uppercase; }
        main .home .about-icons .icons p {
          font-size: 1rem; }
        main .home .about-icons .icons:first-child {
          color: #38c695; }
        main .home .about-icons .icons:nth-child(2) {
          color: #b27cf5; }
        main .home .about-icons .icons:last-child {
          color: #feb960; }
  main .about-us-img {
    grid-area: about-us-img;
    box-sizing: border-box;
    margin: 150px 0; }
    main .about-us-img .about-us-img-area {
      background: url("../img/about-us/about-us-bc.png");
      float: right;
      height: 700px;
      width: 555px;
      border: 8px solid #b18d8d; }
  main .about-us-comment {
    grid-area: about-us-comment;
    position: relative;
    left: -75px;
    margin-top: 150px;
    padding: 75px 0;
    width: 555px;
    height: 440px; }
    main .about-us-comment .comment {
      background-color: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
      border-top: 1px solid #dedede;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
      padding: 0 50px;
      height: 450px; }
      main .about-us-comment .comment h2 {
        font-size: 3rem; }
      main .about-us-comment .comment p {
        font-size: 0.9rem; }
  main .our-focus {
    grid-area: our-focus;
    text-align: center;
    background-color: #f7f7f7;
    padding: 100px 15%; }
    main .our-focus .focus-item-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 75px 0 100px 0; }
      main .our-focus .focus-item-list .focus-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        width: 20%;
        min-width: 200px;
        padding: 10px;
        margin-bottom: 20px;
        height: 350px; }
        main .our-focus .focus-item-list .focus-item p {
          font-size: 1rem; }
        main .our-focus .focus-item-list .focus-item:nth-child(1) {
          border-bottom: 3px solid #fc5f45; }
        main .our-focus .focus-item-list .focus-item:nth-child(2) {
          border-bottom: 3px solid #38c695; }
        main .our-focus .focus-item-list .focus-item:nth-child(3) {
          border-bottom: 3px solid #b27cf5; }
        main .our-focus .focus-item-list .focus-item:nth-child(4) {
          border-bottom: 3px solid #feb960; }
  main .our-awesomes {
    grid-area: our-awesomes;
    background: url("../img/our-awesomes/our-awesomes-bc.jpg"); }
    main .our-awesomes .video {
      width: 1000px;
      margin: 0 auto; }
      main .our-awesomes .video .click-for-video {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 1000px;
        height: 500px;
        padding: 50px;
        color: #fff;
        text-align: center; }
        main .our-awesomes .video .click-for-video h2 {
          font-size: 2rem; }
        main .our-awesomes .video .click-for-video span img {
          cursor: pointer; }
      main .our-awesomes .video .youtube {
        width: 600px;
        height: 500px; }
        main .our-awesomes .video .youtube iframe {
          margin: 0 auto;
          width: 1000px; }
      main .our-awesomes .video div.youtube {
        display: none; }
  main .portfolio {
    grid-area: portfolio;
    margin: 0 auto;
    text-align: center;
    padding: 100px 15%; }
    main .portfolio .portfolio-img-block-area {
      margin: 100px 0 150px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      main .portfolio .portfolio-img-block-area .portfolio-img-block {
        display: flex;
        flex-direction: column;
        border: 0.1px solid #f3f3f3;
        margin: 10px 10px;
        width: 320px;
        height: 250px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }
        main .portfolio .portfolio-img-block-area .portfolio-img-block .portfolio-img {
          height: 300px; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block h6 {
          margin: 20px 0;
          display: none;
          font-size: 1rem; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block .line-box {
          display: none; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block .portfolio-add {
          margin: 70px auto;
          height: 50px;
          width: 50px; }
          main .portfolio .portfolio-img-block-area .portfolio-img-block .portfolio-add img {
            display: none; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:hover h6 {
          display: block; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:hover .line-box {
          display: flex; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:hover .portfolio-add img {
          cursor: pointer;
          display: block; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(1) .portfolio-img {
          background: url("../img/portfolio/item 1.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(2) .portfolio-img {
          background: url("../img/portfolio/item 2.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(3) .portfolio-img {
          background: url("../img/portfolio/item 3.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(4) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 4.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(5) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 5.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(6) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 6.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(7) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 7.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(8) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 8.png");
          background-size: 100%; }
        main .portfolio .portfolio-img-block-area .portfolio-img-block:nth-child(9) .portfolio-img {
          height: 250px;
          background: url("../img/portfolio/item 9.png");
          background-size: 100%; }
  main .our-team {
    grid-area: our-team;
    background-color: #f7f7f7;
    text-align: center;
    padding: 100px 15%; }
    main .our-team .our-team-block {
      margin: 150px auto; }
      main .our-team .our-team-block .our-team-photo-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        main .our-team .our-team-block .our-team-photo-block .our-team-workers {
          background-color: #fff;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
          padding: 5px;
          margin: 20px 0;
          border: 0.1px solid #dedede; }
          main .our-team .our-team-block .our-team-photo-block .our-team-workers figure {
            margin: 0; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers figure img {
              width: 240px; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers figure p {
              font-size: 0.8rem; }
          main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(1) {
            border-bottom: 3px solid #fc5f45; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(1) figure figcaption h3 {
              color: #fc5f45; }
          main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(2) {
            border-bottom: 3px solid #38c695; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(2) figure figcaption h3 {
              color: #38c695; }
          main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(3) {
            border-bottom: 3px solid #b27cf5; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(3) figure figcaption h3 {
              color: #b27cf5; }
          main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(4) {
            border-bottom: 3px solid #feb960; }
            main .our-team .our-team-block .our-team-photo-block .our-team-workers:nth-child(4) figure figcaption h3 {
              color: #feb960; }
      main .our-team .our-team-block .our-team-worker-comment {
        margin-top: 50px;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        height: 300px;
        padding: 120px; }
        main .our-team .our-team-block .our-team-worker-comment h3 {
          text-align: left;
          width: 100%;
          margin-top: 0;
          font-size: 1.6rem; }
        main .our-team .our-team-block .our-team-worker-comment p {
          float: left;
          text-align: left;
          font-size: 1.3rem;
          width: 70%;
          margin: 0; }
        main .our-team .our-team-block .our-team-worker-comment .our-team-worker-comment-links {
          width: 30%;
          line-height: 2.5rem;
          display: flex;
          float: right; }
          main .our-team .our-team-block .our-team-worker-comment .our-team-worker-comment-links .links-share {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%; }
          main .our-team .our-team-block .our-team-worker-comment .our-team-worker-comment-links .links-networks {
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: left; }
        main .our-team .our-team-block .our-team-worker-comment:before {
          content: "";
          border: solid transparent;
          position: absolute;
          left: 80px;
          bottom: 100%;
          border-bottom-color: #fff;
          border-width: 50px;
          margin-left: 0; }
  main .stats {
    grid-area: stats;
    background: url("../img/stats/stats-bc.png");
    height: 450px;
    padding: 0 15%; }
    main .stats .stats-block {
      height: inherit;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      main .stats .stats-block .stats-block-component {
        text-align: center; }
        main .stats .stats-block .stats-block-component span:nth-child(1) img {
          height: 60px;
          width: 60px; }
        main .stats .stats-block .stats-block-component p {
          color: #fff; }
          main .stats .stats-block .stats-block-component p:nth-child(3) {
            color: #b4b4b4; }
  main .work-steps {
    grid-area: work-steps;
    text-align: center;
    padding: 100px 15%; }
    main .work-steps .work-steps-collage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px 0;
      font-size: 0; }
      main .work-steps .work-steps-collage .work-steps-collage-item {
        position: relative;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }
        main .work-steps .work-steps-collage .work-steps-collage-item img {
          width: 550px;
          height: 300px; }
        main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment {
          position: absolute;
          background-color: #fff;
          border: 1px solid #dedede;
          width: 455px;
          height: 260px; }
          main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-number {
            box-sizing: border-box;
            float: left;
            padding: 30px 10px;
            width: 25%;
            height: 100%; }
            main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-number span {
              float: right; }
              main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-number span img {
                width: 60px;
                height: 40px; }
          main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-text {
            box-sizing: border-box;
            float: right;
            width: 75%;
            height: 100%;
            padding: 20px;
            text-align: left; }
            main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-text h3 {
              color: #000;
              font-size: 1.5rem; }
            main .work-steps .work-steps-collage .work-steps-collage-item .work-steps-collage-comment .comment-text p {
              font-size: 1rem; }
        main .work-steps .work-steps-collage .work-steps-collage-item:nth-child(1) .work-steps-collage-comment {
          border-bottom: 3px solid #fc5f45;
          left: -300px;
          top: -50px; }
        main .work-steps .work-steps-collage .work-steps-collage-item:nth-child(2) .work-steps-collage-comment {
          border-bottom: 3px solid #38c695;
          left: 400px;
          top: -50px; }
        main .work-steps .work-steps-collage .work-steps-collage-item:nth-child(3) .work-steps-collage-comment {
          border-bottom: 3px solid #b27cf5;
          left: -300px;
          top: -50px; }
        main .work-steps .work-steps-collage .work-steps-collage-item:nth-child(4) .work-steps-collage-comment {
          border-bottom: 3px solid #feb960;
          left: 400px;
          top: -50px; }
  main .pricing {
    grid-area: pricing;
    text-align: center;
    background-color: #f7f7f7;
    padding: 100px 10%; }
    main .pricing .pricing-table-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 100px 0; }
      main .pricing .pricing-table-block .pricing-table-item {
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        width: 360px;
        height: 570px;
        padding: 15px;
        margin: 20px 0; }
        main .pricing .pricing-table-block .pricing-table-item h3 {
          font-size: 1.2rem; }
        main .pricing .pricing-table-block .pricing-table-item p {
          font-size: 1rem; }
          main .pricing .pricing-table-block .pricing-table-item p span img {
            width: 15px;
            height: 15px; }
        main .pricing .pricing-table-block .pricing-table-item .pr-button {
          background-color: #fff; }
        main .pricing .pricing-table-block .pricing-table-item:nth-child(1) {
          border-top: 3px solid #38c695; }
          main .pricing .pricing-table-block .pricing-table-item:nth-child(1) .pr-button {
            color: #38c695;
            border-color: #38c695; }
            main .pricing .pricing-table-block .pricing-table-item:nth-child(1) .pr-button:hover {
              background-color: #38c695;
              color: #fff; }
        main .pricing .pricing-table-block .pricing-table-item:nth-child(2) {
          border-top: 3px solid #fc5f45; }
          main .pricing .pricing-table-block .pricing-table-item:nth-child(2) .pr-button {
            color: #fc5f45;
            border-color: #fc5f45; }
            main .pricing .pricing-table-block .pricing-table-item:nth-child(2) .pr-button:hover {
              background-color: #fc5f45;
              color: #fff; }
        main .pricing .pricing-table-block .pricing-table-item:nth-child(3) {
          border-top: 3px solid #b27cf5; }
          main .pricing .pricing-table-block .pricing-table-item:nth-child(3) .pr-button {
            color: #b27cf5;
            border-color: #b27cf5; }
            main .pricing .pricing-table-block .pricing-table-item:nth-child(3) .pr-button:hover {
              background-color: #b27cf5;
              color: #fff; }
  main .testimonials {
    grid-area: testimonials;
    text-align: center;
    background-color: #444444;
    padding: 100px 10%; }
    main .testimonials h2 {
      color: #fff; }
    main .testimonials p {
      color: #fff; }
    main .testimonials .slider {
      margin: 100px auto;
      height: 450px;
      max-width: 1300px; }
      main .testimonials .slider .slider-dots {
        position: relative;
        width: 200px;
        top: 430px;
        left: 950px; }
        main .testimonials .slider .slider-dots .slider-dots-item {
          cursor: pointer;
          height: 12px;
          width: 12px;
          margin: 0 2px;
          background-color: #ddd;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease; }
          main .testimonials .slider .slider-dots .slider-dots-item:hover {
            background-color: #fc5f45; }
        main .testimonials .slider .slider-dots .active {
          background-color: #fc5f45; }
      main .testimonials .slider .slider-item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        animation-name: fade;
        animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
        main .testimonials .slider .slider-item .slider-item-img {
          box-sizing: border-box;
          font-size: 0;
          border: 8px solid #b18d8d; }
          main .testimonials .slider .slider-item .slider-item-img img {
            width: 380px;
            height: 400px; }
        main .testimonials .slider .slider-item .slider-item-comment {
          box-sizing: border-box;
          background-color: #fff;
          border-bottom: 3px solid #fc5f45;
          padding: 40px;
          max-width: 700px;
          text-align: left; }
          main .testimonials .slider .slider-item .slider-item-comment p {
            font-size: 0.9rem;
            color: #000; }
            main .testimonials .slider .slider-item .slider-item-comment p:last-child {
              color: #fc5f45; }
          main .testimonials .slider .slider-item .slider-item-comment span img {
            width: 100px; }
  main .select-us {
    grid-area: select-us;
    padding: 100px 15%;
    text-align: center; }
    main .select-us .select-us-item-block {
      margin: 100px 0 150px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      main .select-us .select-us-item-block .select-us-item {
        width: 350px;
        height: 200px; }
        main .select-us .select-us-item-block .select-us-item img {
          float: left; }
        main .select-us .select-us-item-block .select-us-item .select-us-item-header {
          margin: 0 110px 0 60px;
          height: 50px; }
          main .select-us .select-us-item-block .select-us-item .select-us-item-header h3 {
            margin: 0;
            text-align: left;
            font-size: 1.1rem;
            margin-left: 10px; }
        main .select-us .select-us-item-block .select-us-item p {
          font-size: 1rem;
          text-align: left; }
    main .select-us h3 {
      text-align: center;
      font-size: 1.7rem; }
      main .select-us h3 .pr-button {
        margin-left: 30px; }
  main .our-blog {
    grid-area: our-blog;
    text-align: center;
    background-color: #f7f7f7;
    padding: 100px 10%; }
    main .our-blog .our-blog-item-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 150px 0; }
      main .our-blog .our-blog-item-block .our-blog-item-main {
        font-size: 0;
        width: 555px;
        height: 700px;
        margin-bottom: 15px; }
        main .our-blog .our-blog-item-block .our-blog-item-main img {
          width: 100%; }
        main .our-blog .our-blog-item-block .our-blog-item-main .our-blog-item-main-text {
          padding: 30px;
          background-color: #fff;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
          border-bottom: 3px solid #fc5f45; }
          main .our-blog .our-blog-item-block .our-blog-item-main .our-blog-item-main-text h3 {
            text-align: left;
            font-size: 1.1rem; }
          main .our-blog .our-blog-item-block .our-blog-item-main .our-blog-item-main-text p {
            text-align: left;
            font-size: 0.9rem; }
          main .our-blog .our-blog-item-block .our-blog-item-main .our-blog-item-main-text b {
            color: #fc5f45; }
      main .our-blog .our-blog-item-block .our-blog-item-secondary {
        width: 555px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item {
          background-color: #fff;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
          text-align: left;
          padding: 20px 30px; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item h4 {
            font-size: 0.8rem; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item h4 span {
              font-size: 0.7rem;
              font-weight: normal;
              margin-left: 30px; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item h3 {
            font-size: 1.1rem; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item p {
            text-align: left;
            font-size: 0.9rem; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(1) {
            border-bottom: 3px solid #38c695; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(1) h4 {
              color: #38c695; }
              main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(1) h4 span {
                color: #000; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(1) b {
              color: #38c695; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(2) {
            border-bottom: 3px solid #b27cf5; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(2) h4 {
              color: #b27cf5; }
              main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(2) h4 span {
                color: #000; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(2) b {
              color: #b27cf5; }
          main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(3) {
            border-bottom: 3px solid #feb960; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(3) h4 {
              color: #feb960; }
              main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(3) h4 span {
                color: #000; }
            main .our-blog .our-blog-item-block .our-blog-item-secondary .secondary-item:nth-child(3) b {
              color: #feb960; }
  main .subscribe {
    grid-area: subscribe;
    height: 450px;
    padding: 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .subscribe h3 {
      font-size: 3rem; }
    main .subscribe form .subscribe-input {
      background-color: #f7f7f7;
      padding-left: 20px;
      width: 250px;
      height: 40px;
      border: solid 0.3px #dedede;
      border-radius: 20px 0 0 20px; }
      main .subscribe form .subscribe-input:focus {
        outline: none; }
    main .subscribe form .pr-button {
      border-radius: 0 20px 20px 0;
      width: 200px; }
  main .contact {
    grid-area: contact;
    background-color: #cfcfcf;
    padding: 100px 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    main .contact .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 750px; }
      main .contact .contact-form .contact-form-input-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 200px; }
        main .contact .contact-form .contact-form-input-block .contact-form-input {
          font-family: "Poppins";
          border: solid 0.3px #dedede;
          text-align: center;
          height: 50px;
          width: 45%; }
          main .contact .contact-form .contact-form-input-block .contact-form-input:focus {
            outline: none; }
      main .contact .contact-form textarea {
        padding: 20px;
        font-family: "Poppins";
        border: solid 0.3px #dedede;
        text-align: center; }
        main .contact .contact-form textarea:focus {
          outline: none; }
      main .contact .contact-form .pr-button {
        margin: 0 auto;
        margin-top: 50px; }
    main .contact footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 230px;
      width: 1200px;
      margin-top: 150px;
      background-color: #444444; }
      main .contact footer h1 {
        width: 25%; }
        main .contact footer h1 img {
          width: 150px; }
      main .contact footer .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: left;
        box-sizing: border-box;
        width: 25%;
        padding: 50px;
        height: inherit;
        text-align: left; }
        main .contact footer .footer-contacts p {
          margin-top: 0;
          color: #fff;
          font-size: 1rem; }
        main .contact footer .footer-contacts span img {
          margin-right: 20px; }
        main .contact footer .footer-contacts:nth-child(1) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-bottom: 3px solid #fc5f45; }
          main .contact footer .footer-contacts:nth-child(1) h1 {
            width: 150px;
            height: 50px;
            background: url("../img/contact/Alexis.png") no-repeat; }
        main .contact footer .footer-contacts:nth-child(2) {
          border-bottom: 3px solid #38c695; }
          main .contact footer .footer-contacts:nth-child(2) h3 {
            color: #38c695; }
        main .contact footer .footer-contacts:nth-child(3) {
          border-bottom: 3px solid #b27cf5; }
          main .contact footer .footer-contacts:nth-child(3) h3 {
            color: #b27cf5; }
        main .contact footer .footer-contacts:nth-child(4) {
          border-bottom: 3px solid #feb960; }
          main .contact footer .footer-contacts:nth-child(4) h3 {
            color: #feb960; }

/*# sourceMappingURL=main.css.map */
