@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-style: normal;
    font-size: normal;
}
$bc-white-color: #fff;
$bc-black-color: rgb(68, 68, 68);
$bc-grey-color: rgb(247, 247, 247);
$primary-font-family: "Poppins";
$font-secondary-color: #fff;
$primary-layout-padding: 0 20% 0 20%;
%button-options {
    font-family: "Poppins";
    font-size: 16px;
    color: $bc-white-color;
    border: 3px solid rgb(252, 95, 69);
    background-color: rgb(252, 95, 69);
    border-radius: 25px;
    width: 150px;   
    height: 44px;
    outline: none;
    &:hover {
        background-color: rgb(248, 143, 124);
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
}

.line-box {
    display: flex;
    background-color: $bc-white-color;
    width: inherit;
    margin: 0;
    .line {
        width: 25%;
        &:nth-child(1) {
            border-bottom: 3px solid rgb(252, 95, 69);
        }
        &:nth-child(2) {
            border-bottom: 3px solid rgb(56, 198, 149);
        }
        &:nth-child(3) {
            border-bottom: 3px solid rgb(178, 124, 245);
        }
        &:nth-child(4) {
            border-bottom: 3px solid rgb(254, 185, 96);
        }
    }    
}

body {
    margin: 0 auto;
    font-family: $primary-font-family;
}

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    .header-block {
        max-width: 1920px;
        height: 75px;
        margin: 0 auto;
        padding: 0 5% 0 5%;
        background-color: $bc-white-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            margin-left: 5%;
        }
        nav {
            width: 70%;
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                li {
                    padding-left: 10px;
                    height: 25px;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
}

main {
    max-width: 1920px;
    margin-top: 75px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 2fr;
    grid-template-areas:
    'home home home home home home'
    'about-us-img about-us-img about-us-img about-us-comment about-us-comment about-us-comment'
    'our-focus our-focus our-focus our-focus our-focus our-focus'
    'our-awesomes our-awesomes our-awesomes our-awesomes our-awesomes our-awesomes'
    'portfolio portfolio portfolio portfolio portfolio portfolio'
    'our-team our-team our-team our-team our-team our-team'
    'stats stats stats stats stats stats'
    'work-steps work-steps work-steps work-steps work-steps work-steps'
    'pricing pricing pricing pricing pricing pricing'
    'testimonials testimonials testimonials testimonials testimonials testimonials'
    'select-us select-us select-us select-us select-us select-us'
    'our-blog our-blog our-blog our-blog our-blog our-blog'
    'subscribe subscribe subscribe subscribe subscribe subscribe'
    ;
    .home {
        grid-area: home;
        background-color: $bc-black-color;
        background: url('../img/home/home-bc.jpg');
        padding: 100px 15%;
        max-height: 600px;
        h2 {
            width: 80%;
            margin: 100px auto 50px;
            font-size: 4rem;    
            color: $font-secondary-color;
            text-align: center;
        }
        .center {
            width: 100%;
            text-align: center;
            .pr-button {
                @extend %button-options;
            }
        }
        .about-icons {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            .icons {
                text-align: center;
                width: 250px;
                height: 150px;
                text-transform: uppercase;
                p {
                    font-size: 1rem;
                }
                &:first-child() {
                    color: rgb(56, 198, 149);
                }
                &:nth-child(2) {
                    color: rgb(178, 124, 245);
                }
                &:last-child() {
                    color: rgb(254, 185, 96);
                }
            }
        }
    }
    .about-us-img {
        grid-area: about-us-img;
        box-sizing: border-box;
        margin: 150px 0;
        .about-us-img-area {
            background: url("/img/about-us/about-us-bc.png");
            float: right;
            height: 700px;
            width: 555px;
            border: 8px solid rgb(177, 141, 141);
        }
    }
    .about-us-comment {
        grid-area: about-us-comment;
        position: relative;
        left: -75px;
        margin-top: 150px;
        padding: 75px 0;
        width: 555px;
        height: 440px;
        .comment {
            background-color: $bc-white-color;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            border-top: 1px solid #dedede;
            border-left: 1px solid #dedede;
            border-right: 1px solid #dedede;
            padding: 0 50px;
            height: 450px;
            h2 {   
                font-size: 3rem;
            }
            p {
                font-size: 0.9rem;
            }
        }

    }
    .our-focus {
        grid-area: our-focus;
        text-align: center;
        background-color: $bc-grey-color;
        padding: 100px 15%;

        .focus-item-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: 75px 0 100px 0;
            .focus-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $bc-white-color;
                box-sizing: border-box;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                width: 20%;
                min-width: 200px;
                padding: 10px;
                margin-bottom: 20px;
                height: 350px;
                p {
                    font-size: 1rem;
                }
                &:nth-child(1) {
                    border-bottom: 3px solid rgb(252, 95, 69);
                }
                &:nth-child(2) {
                    border-bottom: 3px solid rgb(56, 198, 149);
                }
                &:nth-child(3) {
                    border-bottom: 3px solid rgb(178, 124, 245);
                }
                &:nth-child(4) {
                    border-bottom: 3px solid rgb(254, 185, 96);
                }
            }
        }
    }
    .our-awesomes {
        grid-area: our-awesomes;
        background: url('../img/our-awesomes/our-awesomes-bc.jpg');
        .video {
            width: 1000px;
            margin: 0 auto;
            .click-for-video {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-sizing: border-box;
                width: 1000px;
                height: 500px;
                padding: 50px;
                color: $font-secondary-color;
                text-align: center;
                h2 {
                    font-size: 2rem;
                }
                span {
                    img {
                        cursor: pointer;
                    }
                }
            }
            .youtube {
                width: 600px;
                height: 500px;
                iframe {
                    margin: 0 auto;
                    width: 1000px;
                }
            }
            div.youtube {
                display: none;
            }
        }
    }
    .portfolio {
        grid-area: portfolio;
        margin: 0 auto;
        text-align: center;
        padding: 100px 15%;
        .portfolio-img-block-area {
            margin: 100px 0 150px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .portfolio-img-block {
                display: flex;
                flex-direction: column;
                border: 0.1px solid #f3f3f3;
                margin: 10px 10px;
                width: 320px;
                height: 250px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                .portfolio-img {
                    height: 300px;
                }
                h6 {
                    margin: 20px 0;
                    display: none;
                    font-size: 1rem;
                }
                .line-box {
                    display: none;
                }
                .portfolio-add {
                    margin: 70px auto;
                    height: 50px;
                    width: 50px;
                    img {
                        display: none;
                    }
                }
                &:hover {
                    h6 {
                        display: block;
                    }
                    .line-box {
                        display: flex;
                    }
                    .portfolio-add {
                        img {
                            cursor: pointer;
                            display: block;
                        }
                    }
                }
                &:nth-child(1) {
                    .portfolio-img {
                        background: url('../img/portfolio/item 1.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(2) {
                    .portfolio-img {
                        background: url('../img/portfolio/item 2.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(3) {
                    .portfolio-img {
                        background: url('../img/portfolio/item 3.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(4) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 4.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(5) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 5.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(6) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 6.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(7) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 7.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(8) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 8.png');
                        background-size: 100%;
                    }
                }
                &:nth-child(9) {
                    .portfolio-img {
                        height: 250px;
                        background: url('../img/portfolio/item 9.png');
                        background-size: 100%;
                    }
                }
            }
        }
    }
    .our-team {
        grid-area: our-team;
        background-color: $bc-grey-color;
        text-align: center;
        padding: 100px 15%;
        .our-team-block {
            margin: 150px auto;
            .our-team-photo-block{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .our-team-workers {
                    background-color: $bc-white-color;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                    padding: 5px;
                    margin: 20px 0;
                    border: 0.1px solid #dedede;
                    figure {
                        margin: 0;
                        img {
                            width: 240px;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                    &:nth-child(1) {
                        border-bottom: 3px solid rgb(252, 95, 69);
                        figure {
                            figcaption {
                                h3 {
                                    color: rgb(252, 95, 69);
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        border-bottom: 3px solid rgb(56, 198, 149);
                        figure {
                            figcaption {
                                h3 {
                                    color: rgb(56, 198, 149);
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        border-bottom: 3px solid rgb(178, 124, 245);
                        figure {
                            figcaption {
                                h3 {
                                    color: rgb(178, 124, 245);
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        border-bottom: 3px solid rgb(254, 185, 96);
                        figure {
                            figcaption {
                                h3 {
                                    color: rgb(254, 185, 96);
                                }
                            }
                        }
                    }
                }
            }
            .our-team-worker-comment {
                margin-top: 50px;
                position: relative;
                background-color: $bc-white-color;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                height: 300px;
                padding: 120px;
                h3 {
                    text-align: left;
                    width: 100%;
                    margin-top: 0;
                    font-size: 1.6rem;
                }
                p {
                    float: left;
                    text-align: left;
                    font-size: 1.3rem;
                    width: 70%;
                    margin: 0;
                }
                .our-team-worker-comment-links {
                    width: 30%;
                    line-height: 2.5rem;
                    display: flex;
                    float: right;
                    .links-share {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 50%;
                    }
                    .links-networks {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                    }
                }
                &:before {
                    content: ""; 
                    border: solid transparent;
                    position: absolute;    
                    left: 80px;    
                    bottom: 100%;
                    border-bottom-color: $bc-white-color;
                    border-width: 50px;
                    margin-left: 0;
                }
            }
        }
    }
    .stats {
        grid-area: stats;
        background: url('../img/stats/stats-bc.png');
        height: 450px;
        padding: 0 15%;
        .stats-block {
            height: inherit;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .stats-block-component {
                span:nth-child(1) {
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
                text-align: center;
                p {
                    color: #fff;
                    &:nth-child(3) {
                        color: #b4b4b4;
                    }
                }
            }
        }
    }
    .work-steps {
        grid-area: work-steps;
        text-align: center;
        padding: 100px 15%;
        .work-steps-collage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 100px 0;
            font-size: 0;
            .work-steps-collage-item {
                position: relative;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                img {
                    width: 550px;
                    height: 300px;
                }
                .work-steps-collage-comment {
                    position: absolute;
                    background-color: $bc-white-color;
                    border: 1px solid #dedede;
                    width: 455px;
                    height: 260px;
                    .comment-number {
                        box-sizing: border-box;
                        float: left;
                        padding: 30px 10px;
                        width: 25%;
                        height: 100%;
                        span {
                            float: right;
                            img {
                                width: 60px;
                                height: 40px;
                            }
                        }
                    }
                    .comment-text {
                        box-sizing: border-box;
                        float: right;
                        width: 75%;
                        height: 100%;
                        padding: 20px;
                        text-align: left;
                        h3 {
                            color: #000;
                            font-size: 1.5rem;
                        }
                        p {

                            font-size: 1rem;
                        }
                    }
                }
                &:nth-child(1) {
                    .work-steps-collage-comment {
                        border-bottom: 3px solid rgb(252, 95, 69);
                        left: -300px;
                        top: -50px;
                    }
                }
                &:nth-child(2) {
                    .work-steps-collage-comment {
                        border-bottom: 3px solid rgb(56, 198, 149);
                        left: 400px;
                        top: -50px;
                    }
                }
                &:nth-child(3) {
                    .work-steps-collage-comment {
                        border-bottom: 3px solid rgb(178, 124, 245);
                        left: -300px;
                        top: -50px;
                    }
                }
                &:nth-child(4) {
                    .work-steps-collage-comment {
                        border-bottom: 3px solid rgb(254, 185, 96);
                        left: 400px;
                        top: -50px;
                    }
                }
            }
        }
    }
    .pricing {
        grid-area: pricing;
        text-align: center;
        background-color: $bc-grey-color;
        padding: 100px 10%;
        .pricing-table-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: 100px 0;
            .pricing-table-item {
                background-color: $bc-white-color;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                width: 360px;
                height: 570px;
                padding: 15px;
                margin: 20px 0;
                h3 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1rem;
                    span {
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
                .pr-button {
                    @extend %button-options;
                    background-color: #fff;
                }
                &:nth-child(1) {
                    border-top: 3px solid rgb(56, 198, 149);
                    .pr-button {
                        color: rgb(56, 198, 149);
                        border-color: rgb(56, 198, 149);
                        &:hover {
                            background-color: rgb(56, 198, 149);
                            color: #fff;
                        }
                    }
                }
                &:nth-child(2) {
                    border-top: 3px solid rgb(252, 95, 69);
                    .pr-button {
                        color: rgb(252, 95, 69);
                        border-color: rgb(252, 95, 69);
                        &:hover {
                            background-color: rgb(252, 95, 69);
                            color: #fff;
                        }
                    }
                }
                &:nth-child(3) {
                    border-top: 3px solid rgb(178, 124, 245);
                    .pr-button {
                        color: rgb(178, 124, 245);
                        border-color: rgb(178, 124, 245);
                        &:hover {
                            background-color: rgb(178, 124, 245);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .testimonials {
        grid-area: testimonials;
        text-align: center;
        background-color: $bc-black-color;
        padding: 100px 10%;
        h2 {
            color: $font-secondary-color;
        }
        p {
            color: $font-secondary-color;
        }
        .slider {
            margin: 100px auto;
            height: 450px;
            max-width: 1300px;
            .slider-dots {
                position: relative;
                width: 200px;
                top: 430px;
                left: 950px;
                .slider-dots-item{
                    cursor: pointer;
                    height: 12px;
                    width: 12px;
                    margin: 0 2px;
                    background-color: #ddd;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                    &:hover {
                        background-color: rgb(252, 95, 69);
                    }
                }
                .active {
                    background-color: rgb(252, 95, 69);
                } 
            }
            .slider-item {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                animation-name: fade;
                animation-duration: 1.5s;
                @-webkit-keyframes fade {
                    from {
                        opacity: .4
                    }
                    to {
                        opacity: 1
                    }
                }
                @keyframes fade {
                    from {
                        opacity: .4
                    }
                    to {
                        opacity: 1
                    }
                }
                .slider-item-img {
                    box-sizing: border-box;
                    font-size: 0;
                    border: 8px solid rgb(177, 141, 141);
                    img {
                        width: 380px;
                        height: 400px;
                    }
                }
                .slider-item-comment {
                    box-sizing: border-box;
                    background-color: $bc-white-color;
                    border-bottom: 3px solid rgb(252, 95, 69);
                    padding: 40px;
                    max-width: 700px;
                    text-align: left;
                    p {
                        font-size: 0.9rem;
                        color: #000;
                        &:last-child() {
                            color: rgb(252, 95, 69);
                        }
                    }
                    span {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
    .select-us {
        grid-area: select-us;
        padding: 100px 15%;
        text-align: center;
        .select-us-item-block {
            margin: 100px 0 150px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .select-us-item {
                width: 350px;
                height: 200px;
                img {
                    float: left;
                }
                .select-us-item-header {
                    margin: 0 110px 0 60px;
                    height: 50px;
                    h3 {
                        margin: 0;
                        text-align: left;
                        font-size: 1.1rem;
                        margin-left: 10px;
                    }
                }
                p {
                    font-size: 1rem;
                    text-align: left;
                }
            }
        }
        h3 {
            text-align: center;
            font-size: 1.7rem;
            .pr-button {
                margin-left: 30px;
                @extend %button-options;
            }
        }
    }
    .our-blog {
        grid-area: our-blog;
        text-align: center;
        background-color: $bc-grey-color;
        padding: 100px 10%;
        .our-blog-item-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: 150px 0;
            .our-blog-item-main {
                font-size: 0;
                width: 555px;
                height: 700px;
                img {
                    width: 100%;
                }
                .our-blog-item-main-text {
                    padding: 30px;
                    background-color: #fff;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                    border-bottom: 3px solid rgb(252, 95, 69);
                    h3 {
                        text-align: left;
                        font-size: 1.3rem;
                    }
                    p {
                        text-align: left;
                        font-size: 1rem;
                    }
                }
            }
            .our-blog-item-secondary {
                width: 555px;
                height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .secondary-item {
                    background-color: #fff;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                    text-align: left;
                    padding: 20px 30px;
                    h4 {
                        font-size: 0.8rem;
                        span {
                            font-size: 0.7rem;
                            font-weight: normal;
                            margin-left: 30px;
                        }
                    }
                    h3 {
                        font-size: 1.1rem;
                    }
                    p {
                        text-align: left;
                        font-size: 0.9rem;
                    }
                    &:nth-child(1) {
                        border-bottom: 3px solid rgb(56, 198, 149);
                        h4 {
                            color: rgb(56, 198, 149);
                            span {
                                color: #000;
                            }
                        }
                        b {
                            color: rgb(56, 198, 149);
                        }
                    }
                    &:nth-child(2) {
                        border-bottom: 3px solid rgb(178, 124, 245);
                        h4 {
                            color: rgb(178, 124, 245);
                            span {
                                color: #000;
                            }
                        }
                        b {
                            color: rgb(178, 124, 245);
                        }
                    }
                    &:nth-child(3) {
                        border-bottom: 3px solid rgb(254, 185, 96);
                        h4 {
                            color: rgb(254, 185, 96);
                            span {
                                color: #000;
                            }
                        }
                        b {
                            color: rgb(254, 185, 96);
                        }
                    }
                }
            }
        }
    }
    .subscribe {
        grid-area: subscribe;
        height: 450px;
        padding: 0 15%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: 3rem;
        }
        form {
            .subscribe-input {
                background-color: $bc-grey-color;
                padding-left: 20px;
                width: 250px;
                height: 40px;
                border: solid 0.3px #dedede;
                border-radius: 20px 0 0 20px;
                &:focus {
                    outline: none
                }
            }
            .pr-button {
                @extend %button-options;
                border-radius: 0 20px 20px 0;
                width: 200px;
            }
        }
    }
}

